/* PROJECT STYLES */
#chartStates {
  height:700px;
}

.c3-line { 
  stroke-width:5px !important; 
}

.source {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.purple3 {
  background-color:#A270A7 !important; fill:#A270A7 !important; color:#333; padding:3px;
}

.purple2 {
  background-color:#7a0177 !important; fill:#7a0177 !important; color:#fff; padding:3px;
}

.purple1 {
  background-color:#fa9fb5 !important; fill:#fa9fb5 !important; color:#333; padding:3px;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.source a {
  color: #888;
}